PORT=3000
OPENAI_API_KEY=
OPENAI_PROMPT_ID_Q1=
OPENAI_PROMPT_ID_Q2=
OPENAI_PROMPT_ID_Q3=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_PROMPT_ID_REFLECTION=
MONGODB_URI=
MONGODB_DB=sa
MONGODB_COLLECTION=chat_sessions
